.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  > a {
    font-size: 2.6rem;
    // padding: 10px 0;
    padding: 5px 0;
    img {
      height: 50px;
    }
  }
  .pc {
    display: none;
  }
  @media only screen and (min-width: 769px) {
    max-width: $PC_SIZE;
    margin: 0 auto;
    padding: 0 80px;
    .pc {
      display: inline-block;
    }
    // 2022-05-25/margin-right 수정/유기홍 
    .global-menu {
      button {
        font-size: 1.8rem;
        margin-right: 60px;
      }
    //////////////////////////////////////
    }
    .global-login {
      a {
        margin-left: 10px;
      }
      button {
        font-size: 1.6rem;
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
    .bm-burger-button {
      display: none;
    }
  }
}

.global-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90px;
  img {
    top: 0;
    position: absolute;
    z-index: -1;
  }
  p {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
  }
  @media only screen and (min-width: 769px) {
    height: 240px;
  }
}

.global-footer {
  background-color: #4B9A6A;
  color: white;
  font-size: 1.6rem;
  padding: 42px 45px;
  .footer-logo {
    margin-bottom: 20px;
  }
  .terms {
    a {
      font-weight: 700;
      &:first-of-type {
        margin-right: 10px;
      }
    }
    .links {
      margin-bottom: 20px;
    }
  }
  @media only screen and (min-width: 769px) {
    &__inner {
      padding: 0 35px;
      max-width: $PC_SIZE;
      margin: 0 auto;
      display: flex;
      .footer-logo {
        margin-right: 20px;
      }
    }
  }
}



/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;

}

/* Links inside the navbar */
.navbar button {
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.nav_btn p{
  font-size:15px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar button:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
  text-underline-offset : 2px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  padding: 10px 0 0 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.logout-border {
  padding-top:13px;
}

.logout-border:hover{
  border-bottom:2px solid black;
  margin-top:-2px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


@media screen and (max-width:1024px){
ul, li {
  list-style: none;
}

#main-menu {
  display:flex;
  flex-direction: column;
  max-width:100px;
  padding-top:10px;
  white-space:nowrap;
}
#main-menu ul {
  display:inline-block;
  flex-direction: row;
  margin-top:1px;
  margin-left:30px;
  white-space:pre;
  z-index:1
}
#main_menu ul li{
  display:flex;
  flex-direction: column;
  font-size:1rem;
  z-index:-2;
}

#main-menu > li {
  position: relative;
  padding: 50% 0 0 0;
  font-size:1.5rem;
}

#main-menu > li > .navbar {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > .a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
  position: absolute;
  background: #777777;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  .a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}
}
